/* Глобальный стиль */
body {
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #222;
}

/* Стиль текта */
.page-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1rem 1rem 0;
}

.subtext {
    color: gray;
    font-size: 1rem;
}

/* Стиль ссылок */
.link-style {
    color: rgb(113, 113, 113);
    text-decoration: none;
    transition: color 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    white-space: nowrap;
}

.active-link {
    color: rgb(232, 89, 12);
    font-weight: bold;
}

.link-style:hover {
    color: rgb(240, 140, 0);
}


/* Стиль кнопок */
.action-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #e0e0e0;
}