.catalog-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    height: 2.4rem;
    font-size: 0.95rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.catalog-button:hover {
    background-color: darkorange;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid orange;
    border-radius: 10px;
    padding-left: 1rem;
    background-color: white;
    height: 2.4rem;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 100%;
    padding-right: 2rem;
}

.search-clear {
    position: absolute;
    right: 4.7rem;
    top: 50%;
    transform: translateY(-60%);
    font-size: 1.6rem;
    color: gray;
    cursor: pointer;
    user-select: none;
}

.search-button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    font-size: 0.95rem;
    height: calc(100% - 0.4rem);
    margin: 0.2rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.search-button:hover {
    background-color: darkorange;
}

.exit-button {
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    height: 2.4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.exit-button:hover {
    color: darkorange;
    text-decoration: none;
}