/* .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.custom-table th {
    user-select: none;
    position: relative;
}

.custom-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
} */

.add-row {
    cursor: pointer;
    text-align: center;
}

.add-cell {
    font-weight: bold;
}

.add-row:hover .add-cell {
    background-color: #e8e8e8;
}

.delete-cell {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    transition: background-color 0.3s;
}

.delete-cell:hover {
    background-color: orangered;
    color: white;
}